nav a[href="brand.html"] {
  color: #702222;
}

/* 以下麵包屑 */

.path {
  background-color: #f5f5f5;
  margin-top: 52px;
}
.path_wrap {
  width: 1000px;
  height: 16px;
  margin: auto;
  display: flex;
  padding: 5px 0px 8px 0px;
}
.path_wrap > li > a {
  color: #969696;
  font-size: 12px;
  text-decoration: none;
}
.path_wrap > li + li::before {
  content: "/";
  color: #969696;
  font-size: 11px;
  padding: 0 4px;
}

/* 以下品牌精神 */

.brand {
  margin: 30px 0 75px 0;
}
.brand_pic {
  width: 1200px;
  margin: auto;
}
.brand_appeal > h3 {
  font-size: 20px;
  letter-spacing: 0.04em;
  color: #702222;
  line-height: 80px;
  text-align: center;
  font-weight: 400;
  margin-top: 50px;
}
.brand_appeal > p {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 35px;
  text-align: center;
  color: #505050;
  margin-bottom: 150px;
}
.professional {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}
.professional_text {
  width: 200px;
  padding: 10px 13px;
  font-size: 16px;
  font-weight: 100;
  box-sizing: border-box;
  letter-spacing: 0.08em;
  line-height: 25px;
  color: #505050;
}
.professional_pic {
  position: relative;
}
.professional_pic > h3 {
  position: absolute;
  top: 12px;
  left: 15px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-shadow: 0px 0px 6px #303030, 0px 0px 3px #303030, 0px 0px 1px #303030;
}
.professional_pic > span {
  position: absolute;
  top: 40px;
  left: 17px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 12px;
  text-shadow: 0px 0px 6px #303030, 0px 0px 3px #303030, 0px 0px 1px #303030;
}
.professional_pic > img {
  border-radius: 20px;
}
.professional_wrap:nth-child(even) {
  margin-top: 60px;
}
