nav a[href="contact.html"] {
  color: #702222;
}

/* 以下麵包屑 */

.path {
  background-color: #f5f5f5;
  margin-top: 52px;
}
.path_wrap {
  width: 1000px;
  height: 16px;
  margin: auto;
  display: flex;
  padding: 5px 0px 8px 0px;
}
.path_wrap > li > a {
  color: #969696;
  font-size: 12px;
  text-decoration: none;
}
.path_wrap > li + li::before {
  content: "/";
  color: #969696;
  font-size: 11px;
  padding: 0 4px;
}

/* 以下聯絡我們 */

.contact_us_wrap {
  width: 1000px;
  margin: 30px auto 75px;
}
.from_group {
  width: 800px;
  display: flex;
  margin: 22px auto;
  text-align: right;
}
.from_wrap {
  width: 800px;
  margin: auto;
  display: flex;
}
select {
  width: 291px;
  height: 36px;
  background-color: #fff;
  color: #505050;
  border: 1px solid #999;
}
input {
  outline: #969696;
  outline-color: #e6e0d2e1;
}
input[type="text"] {
  flex: 1;
  height: 30px;
  margin: 0 40px 0 0px;
  border: 1px solid #999;
}
input[type="email"] {
  flex: 1;
  height: 30px;
  margin: 0 0px 0px 0;
  border: 1px solid #999;
}
input[id="subject"] {
  flex: 1;
  margin-right: 0;
}
.from_group label {
  color: #505050;
  font-size: 16px;
  font-weight: 300;
  margin: 0 25px 0 0px;
  width: 64px;
  line-height: 36px;
}
.from_group textarea {
  flex: 1;
  height: 130px;
  resize: none;
  border: 1px solid #999;
}
.from_btn {
  display: flex;
  justify-content: right;
}
.from_btn button {
  font-family: "Noto Sans TC", sans-serif;
  color: #505050;
  width: 20%;
  background-color: #e6e0d2e1;
  padding: 7px 15px;
  font-size: 16px;
  font-weight: 300;
  border: none;
  margin-bottom: 20px;
}
.from_btn button:hover {
  background-color: #969696;
  color: #fff;
}

/* 以下info */

.info {
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.info_wrap {
  display: flex;
  color: #505050;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 00.08em;
}
.info_wrap > img {
  width: 18px;
  margin-right: 8px;
}
