body {
  font-family: "Noto Sans TC", sans-serif;
}

/* 以下為分隔線 */

.divider {
  aspect-ratio: 924 / 48;
  max-width: 924px;
  background-image: url(../img/divider.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
h2 {
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #702222;
}

@media screen and (max-width: 1200px) {
  /* 以下漢堡 */

  .hb {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    position: relative;
    left: 0;
  }
  .hb:before,
  .hb:after {
    content: "";
    position: absolute;
    width: 60%;
    height: 2.3px;
    background-color: #505050;
    right: 0;
    left: 0;
    margin: auto;
    transform: rotate(0deg);
  }
  .hb:before {
    top: 15px;
    box-shadow: 0px 10px 0px #505050;
    transition: box-shadow 0.3s 0.6s, top 0.3s 0.3s, transform 0.3s 0s;
  }
  .hb:after {
    bottom: 12px;
    transition: bottom 0.3s 0.3s, transform 0.3s 0s;
  }
  #nav-check:checked ~ header .hb:before {
    top: 24px;
    box-shadow: 0px 10px 0px #ff00;
    transform: rotate(45deg);
    transition: box-shadow 0.3s 0s, top 0.3s 0.3s, transform 0.3s 0.6s;
  }
  #nav-check:checked ~ header .hb:after {
    bottom: 23px;
    transform: rotate(-45deg);
    transition: bottom 0.3s 0.3s, transform 0.3s 0.6s;
  }
  nav {
    position: absolute;
    width: 100%;
    bottom: 100%;
    opacity: 0;
    padding: 0px 0px 35px 70px;
    background-color: #fff;
    transition: opacity 1s, bottom 0s 0.9s;
    border-top: 1px solid #ccc;
  }
  #nav-check:checked ~ header nav {
    bottom: -457%;
    opacity: 1;
    transition: 1s;
    z-index: -1;
  }
  nav a {
    display: block;
  }
  nav ul li {
    border-bottom: 1px solid #ccc;
    height: 100%;
  }

  /* 以下為header */

  header {
    box-shadow: 1px 1px 1px #cccccc;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .header_wrap {
    width: 100%;
    height: 70px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    width: 144px;
  }
  nav > ul > li > a {
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: 300;
    color: #505050;
  }
  nav > ul > li > :hover {
    color: #702222;
  }
  /* 以下搜索框 、會員*/

  .searchbar,
  .member {
    display: none;
  }

  /* 以下購物車 */

  .quickcart img {
    margin-right: 10px;
    width: 43px;
  }

  /* 以下為頁尾 */

  footer {
    width: 100%;
    background-color: #f5f5f5;
    color: #505050;
    font-weight: 300;
    font-size: 12px;
  }
  .footer_wrap {
    margin: auto;
    max-width: 1000px;
    padding-top: 27px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logobox > img {
    width: 246px;
    margin-bottom: 20px;
  }
  .contant-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  .contant-text > div {
    margin-top: 14px;
  }
  .contant-text > DIV > img {
    width: 15px;
    margin-bottom: -3px;
  }
  .contant-text > p {
    font-size: 12px;
    letter-spacing: 0.08em;
  }
  .contant-text > div > span {
    letter-spacing: 0.08em;
  }
  .contact_wrap > a {
    margin-bottom: 18px;
    color: #505050;
    text-decoration: none;
    letter-spacing: 0.08em;
    margin: 5px;
  }
  .txt {
    padding: 29px 0px 0px 0px;
    text-align: center;
  }

  /* 以下版權跟社群 */

  .copyright {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
    align-items: center;
  }
  .sns > a > img {
    width: 23px;
    margin-left: 1px;
    margin-top: 20px;
    transition: 0.3s;
  }
  .sns > a > img:hover {
    transform: translateY(-10px);
  }
  .copyright_wrap > p {
    padding: 0 100px;
    margin-top: 20px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1201px) {
  /* 漢堡隱藏 */

  .hb {
    display: none;
  }

  /* 以下為header */

  header {
    box-shadow: 1px 1px 1px #cccccc;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .header_wrap {
    max-width: 1200px;
    height: 70px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    margin-left: 75px;
    margin-right: 45px;
  }
  nav > ul {
    align-content: center;
    display: flex;
  }
  nav > ul > li > a {
    margin: 0 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color: #505050;
  }
  nav > ul > li > :hover {
    color: #702222;
  }

  /* 以下搜索框 */

  .user {
    display: flex;
    margin-left: 45px;
    margin-right: 75px;
  }
  .searchbar {
    width: 163.59px;
    height: 24px;
    margin-top: 5px;
  }
  .searchbar input {
    width: 136px;
    border-radius: 10px;
    border: 1px solid #505050;
  }
  .searchbar img {
    width: 12px;
  }
  .searchbar button {
    background: none;
    border: none;
    cursor: pointer;
  }

  /* 以下會員、購物車 */

  .quickcart img {
    height: 27px;
    margin-right: 5px;
    margin-left: 20px;
  }
  .member img {
    height: 27px;
  }

  /* 以下為頁尾 */

  footer {
    width: 100%;
    background-color: #f5f5f5;
    color: #505050;
    font-weight: 300;
    font-size: 12px;
  }
  .footer_wrap {
    margin: auto;
    max-width: 1000px;
    padding-top: 27px;
  }
  .contact,
  .contact_sb {
    display: flex;
    justify-content: space-between;
  }
  .logobox > img {
    width: 246px;
  }
  .contant-text > div {
    margin-top: 14px;
  }
  .contant-text > DIV > img {
    width: 15px;
    margin-bottom: -3px;
  }
  .contant-text > p {
    font-size: 12px;
    letter-spacing: 0.08em;
  }
  .contant-text > div > span {
    letter-spacing: 0.08em;
  }
  .contact_wrap > a {
    margin-bottom: 18px;
    color: #505050;
    display: block;
    text-decoration: none;
    letter-spacing: 0.08em;
  }
  .txt {
    padding: 29px 0px 0px 70px;
  }

  /* 以下版權跟社群 */

  .copyright {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
  }
  .sns > a > img {
    width: 23px;
    margin-left: 1px;
    transition: 0.3s;
  }
  .sns > a > img:hover {
    transform: translateY(-10px);
  }
  .copyright_wrap > p {
    line-height: 12px;
  }
}
