nav a[href="news.html"] {
  color: #702222;
}

/* 以下麵包屑 */

.path {
  background-color: #f5f5f5;
  margin-top: 52px;
}
.path_wrap {
  width: 1000px;
  height: 16px;
  margin: auto;
  display: flex;
  padding: 5px 0px 8px 0px;
}
.path_wrap > li > a {
  color: #969696;
  font-size: 12px;
  text-decoration: none;
}
.path_wrap > li + li::before {
  content: "/";
  color: #969696;
  font-size: 11px;
  padding: 0 4px;
}

/* 以下最新消息 */

.news {
  margin: 30px 0 75px 0;
}
.filter_wrap {
  width: 1000px;
  margin: 0 auto 15px;
  text-align: right;
  margin-top: 30px;
}
.filter > a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.04em;
  color: #505050;
  margin-left: 10px;
}
.filter > a:hover {
  color: #702222;
}
.news_wrap {
  width: 948px;
  margin: auto;
}
.news_wrap {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.news_item {
  width: 475px;
}
.news_text {
  padding: 0px 20px 0px 20px;
}
.news_text > a > h3 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 30px;
  margin: 8px 0;
  letter-spacing: 0.04em;
  color: #702222;
}
.news_text > a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.04em;
  color: #505050;
  line-height: 25px;
}

/* 以下為看更多 */

.more_wrap {
  width: 970px;
  margin: 30px auto 0;
  text-align: right;
  font-weight: 300;
}
.more img {
  width: 20px;
  vertical-align: middle;
  margin-left: 5px;
}
.more a {
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #969696;
  text-decoration: none;
}
.news .more_wrap {
  padding-right: 18px;
}
.more a:hover {
  color: #702222;
}
