nav a[href="shop.html"] {
  color: #702222;
}

/* 以下麵包屑 */

.path {
  background-color: #f5f5f5;
  margin-top: 52px;
}
.path_wrap {
  width: 1000px;
  height: 16px;
  margin: auto;
  display: flex;
  padding: 5px 0px 8px 0px;
}
.path_wrap > li > a {
  color: #969696;
  font-size: 12px;
  text-decoration: none;
}
.path_wrap > li + li::before {
  content: "/";
  color: #969696;
  font-size: 11px;
  padding: 0 4px;
}

/* 以下線上購物 */

.shopping {
  margin: 30px 0 75px 0;
}
.shopping_wrap {
  width: 1000px;
  display: flex;
  margin: auto;
}

/* 以下分類選項 */

.filter {
  width: 200px;
}
.filter p {
  color: #505050;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.04em;
  margin: 0px 0px 20px 0px;
  padding-left: 10px;
}
.filter a {
  position: relative;
  text-decoration: none;
}
.at:before {
  content: "";
  border-left: 3px solid #702222;
  margin-right: 5px;
  position: absolute;
  height: 170%;
  display: block;
}
.filter span {
  display: block;
  color: #969696;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.1em;
  margin-top: 5px;
}
.filter p {
  transition: 0.7s;
}
.filter p:hover {
  transform: translateX(20px);
}
.filter a:hover:before {
  content: "";
  border-left: 3px solid #702222;
  margin-right: 5px;
  position: absolute;
  height: 170%;
  display: block;
}
/* 以下商品區 */

.shop_wrap {
  /* border: 1px solid #909; */
  display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  width: 800px;
  justify-content: space-between;
}
.shop_wrap :nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.shop_item {
  width: 240px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0 0 46px;
  box-shadow: 0 0 2px #969696, 0 0 10px #e8e8e8;
}
.shop_item a {
  text-decoration: none;
  color: #000;
}
.shop_pic img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.shop_pic {
  position: relative;
}
.shop_item:hover {
  background-color: #fff9eb;
  box-shadow: 0 0 2px #e6e0d2, 0 0 10px #e6e0d2;
}
.shop_text {
  padding: 10px 22px 15px;
}
.shop_text > h3 {
  font-size: 16px;
  letter-spacing: 0.08em;
  line-height: 24px;
  font-weight: 100;
  margin-bottom: 10px;
}
.price {
  display: flex;
  justify-content: center;
}
#pricing {
  color: #969696;
  text-decoration: line-through;
  margin-left: 10px;
}
.shop_text p {
  font-size: 18px;
  letter-spacing: 0.04em;
  color: #702222;
  text-align: center;
  font-weight: 300;
  margin-top: 8px;
}
.shop_text span {
  font-size: 16px;
}
.new.shop_pic::after {
  content: "☰ New";
  font-family: "Noto Sans TC", sans-serif;
  font-size: 12px;
  color: #505005;
  position: absolute;
  right: -5px;
  top: 10px;
  width: 40px;
  height: 19px;
  padding: 5px 5px 0px 7px;
  background-color: #e8e8e8;
}
.new.shop_pic::before {
  content: "";
  position: absolute;
  right: -5px;
  top: 34px;
  border-top: 5px solid #969696;
  border-right: 5px solid #0000;
}
